.headerLogo {
  height: 60px !important;
  width: 160px !important;
  background: inline('ui/administration/assets/images/logo_blue.jpg') no-repeat center center !important;
}

.tabMenuItemContent {
    padding: 14px 29px 12px 10px !important;
}

.loginPageFooter {
    background: inline('ui/administration/assets/images/logo.jpg') no-repeat center center !important;
}