/* content
    1. Bootstrap overwrites
    2. Fonts
    2.1 Font sizes
    2.2 Font styles
    2.3 Font colors
    3. Spacers
    4. Util classes
    5. Custom styles
    6. Navigation section
    7. Forms
*/

/* 1. Bootstrap overwrites */

@media (min-width: 1px), (min-width: 544px), (min-width: 768px), (min-width: 992px), (min-width: 1200px) {
    .container {
        min-width: 1140px;
        max-width: 1140px;
    }
}

@media (min-width: 1680px) {
    .container {
        min-width: 1470px;
        max-width: 1470px;
    }
    .row {
        margin-right: -1.875rem;
        margin-left: -1.875rem;
    }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding-right: 1.875rem;
        padding-left: 1.875rem;
    }
}

@media (max-width: 1280px) {
    .master {
        min-width: 1230px;
    }
}

.container-fluid {
    padding: 0px;
    margin: 0px;
    min-width: 1140px;
}

.container-fluid .row {
    padding: 0px;
    margin: 0px;
    min-width: 1140px;
}

.container-fluid .col-lg-1, .container-fluid .col-lg-10, .container-fluid .col-lg-11, .container-fluid .col-lg-12, .container-fluid .col-lg-2, .container-fluid .col-lg-3, .container-fluid .col-lg-4, .container-fluid .col-lg-5, .container-fluid .col-lg-6, .container-fluid .col-lg-7, .container-fluid .col-lg-8, .container-fluid .col-lg-9, .container-fluid .col-md-1, .container-fluid .col-md-10, .container-fluid .col-md-11, .container-fluid .col-md-12, .container-fluid .col-md-2, .container-fluid .col-md-3, .container-fluid .col-md-4, .container-fluid .col-md-5, .container-fluid .col-md-6, .container-fluid .col-md-7, .container-fluid .col-md-8, .container-fluid .col-md-9, .container-fluid .col-sm-1, .container-fluid .col-sm-10, .container-fluid .col-sm-11, .container-fluid .col-sm-12, .container-fluid .col-sm-2, .container-fluid .col-sm-3, .container-fluid .col-sm-4, .container-fluid .col-sm-5, .container-fluid .col-sm-6, .container-fluid .col-sm-7, .container-fluid .col-sm-8, .container-fluid .col-sm-9, .container-fluid .col-xl-1, .container-fluid .col-xl-10, .container-fluid .col-xl-11, .container-fluid .col-xl-12, .container-fluid .col-xl-2, .container-fluid .col-xl-3, .container-fluid .col-xl-4, .container-fluid .col-xl-5, .container-fluid .col-xl-6, .container-fluid .col-xl-7, .container-fluid .col-xl-8, .container-fluid .col-xl-9, .container-fluid .col-xs-1, .container-fluid .col-xs-10, .container-fluid .col-xs-11, .container-fluid .col-xs-12, .container-fluid .col-xs-2, .container-fluid .col-xs-3, .container-fluid .col-xs-4, .container-fluid .col-xs-5, .container-fluid .col-xs-6, .container-fluid .col-xs-7, .container-fluid .col-xs-8, .container-fluid .col-xs-9 {
    padding: 0px;
    margin: 0px;
}

.row-reset {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col-reset {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.dropdown-menu {
    padding: 0px;
    right: 0px;
    white-space: nowrap;
    border-radius: 0px;
    border: 0px;
    margin: 1px 0 0;
    left: inherit;
}

.open > .dropdown-menu {
    display: block;
    min-width: 245px;
}

.dropdown-toggle::after {
    content: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px;
}

a:focus {
    outline: none;
    text-decoration: none;
}

:focus {
    outline: none;
}

.form-control:focus {
    border-color: #E82D8C;
}

/*
:focus {
    outline: #014c8c;
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
*/
/* 2. Fonts */

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-Light.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'glyphicons';
    src: url('./fonts/glyphicons/TuneIcons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 2.1 Font sizes */

.f10 {
    font-size: 10px;
    line-height: 10px;
}

.f12 {
    font-size: 12px;
    line-height: 12px;
}

.f13 {
    font-size: 13px;
    line-height: 13px;
}

.f14 {
    font-size: 14px;
    line-height: 14px;
}

.f15 {
    font-size: 15px;
    line-height: 15px;
}

.f16 {
    font-size: 16px;
    line-height: 16px;
}

.f18 {
    font-size: 18px;
    line-height: 18px;
}

.f20 {
    font-size: 20px;
    line-height: 20px;
}

.f22 {
    font-size: 22px;
    line-height: 22px;
}

.f24 {
    font-size: 24px;
    line-height: 24px;
}

.f28 {
    font-size: 28px;
    line-height: 28px;
}

.f32 {
    font-size: 32px;
    line-height: 32px;
}

/* 2.2 Font styles */

.f-light {
    font-weight: 100;
}

.f-italic {
    font-style: italic;
}

.f-bold {
    font-weight: bold;
}

.f-semibold {
    font-weight: 600;
}

.f-extrabold {
    font-weight: 900;
}

.f-upper {
    text-transform: uppercase;
}

.f-lower {
    text-transform: lowercase;
}

.f-underline {
    text-decoration: underline;
}

.f-nowrap {
    white-space: nowrap;
}

.f-wordwrap {
    word-wrap: break-word;
}

.f-glyph-default {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'glyphicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 2.3 Font colors */

.f-default {
    color: #000000;
}

.f-white {
    color: #FFFFFF;
}

.f-gray,
.f-grey {
    color: #919694;
}

.f-gray-light,
.f-grey-light {
    color: #878E8B;
}

/* TODO: rename this color */
.f-gray-soft {
    color: #696E72;
}

.f-gray-dark,
.f-grey-dark {
    color: #707579;
}

.f-green {
    color: #7DC13E;
}

.f-orange {
    color: #FBD89A;
}

.f-pink {
    color: #E82D8C;
}

.f-red {
    color: #E84949;
}

/* 3. Spacers */

.margin-all-0 {
    margin: 0;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-all-5 {
    margin: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-all-10 {
    margin: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-all-15 {
    margin: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-all-20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-all-25 {
    margin: 25px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-all-30 {
    margin: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-all-40 {
    margin: 40px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.padding-all-0 {
    padding: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-all-5 {
    padding: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-all-10 {
    padding: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-all-15 {
    padding: 15px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-all-20 {
    padding: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-all-25 {
    padding: 25px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-all-30 {
    padding: 30px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

/* 4. Util classes */
.full-width {
    width: 100%;
}

.pointer:hover {
    cursor: pointer;
}

.rounded-corners {
    border-radius: 3px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 5. Custom styles */
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

a:active {
    color: #000000;
}

a.f-pink:link {
    color: #E82D8C;
}

a.f-pink:visited {
    color: #E82D8C;
}

a.f-pink:hover {
    color: #E82D8C;
    text-decoration: underline;
}

a.f-pink:active {
    color: #E82D8C;
}
/* 6. Navigation section */
.nav {
    margin-top: 15px;
    margin-bottom: 15px;
}

a.nav-goBack {
    display: inline-block;
    margin: 10px 0px;
}

.nav-title {
    margin: 10px 0px;
}

.nav-buttons {
    margin-top: 5px;
}

/* 7. Forms */
input:focus {
    border: 1px solid #595959;
    outline: none;
}

/*change croppie styles*/
.croppie-override .cr-boundary .cr-viewport {
    box-shadow: 0 0 0 899px rgba(255, 255, 255, 0.5);
}

/* override react-select component styles */
.select-purple.is-open .Select-control {
    border: 1px solid #E6E6E6;
}

.select-purple.is-open .Select-control {
    border: 1px solid rgb(222, 110, 165);
}

.select-purple .Select-clear-zone, #loan .select-grey .Select-clear-zone,  #loan .select-category-card .Select-clear-zone, #loan .select-guarantors .Select-clear-zone, #loan .select-sales .Select-clear-zone, #loan .select-category-filter .Select-clear-zone {
    display: none;
}

.select-purple .Select-option.is-focused {
    background-color: #E40575;
    color: white;
}

.select-purple .Select-menu::-webkit-scrollbar {
    width: 8px;
}

.select-purple .Select-menu::-webkit-scrollbar-track {
    background-color: rgba(228, 5, 117, 0.67);
}

.select-purple .Select-menu::-webkit-scrollbar-thumb {
    background-color: #E40575;
}

.select-purple .Select-menu::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 5, 99, 1);
}